<h1>Admin &raquo; Store Database Stats</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Type</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><a href="/admin/products">Products</a></th>
      <th><%= @product_count %></th>
    </tr>
    <tr>
      <th>Categories</th>
      <th><%= @category_count %></th>
    </tr>
  </tbody>
</table>

